.arrowOuterContainer{
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.arrowInnerContainer{
  margin: auto;
}

.arrowSvg {
  transform: rotateZ(180deg);
  position: relative;
  opacity: 1;
  transition: opacity 1s ease;
  margin-right: 10px;
  .arrowPath2 {
    opacity: 0.3;
    transition: opacity 0.4s ease;
  }
  &:hover {
    cursor: pointer;
    .arrowPath2 {
      opacity: 1;
      transition: opacity 0.4s ease;
    }
  }
}

.arrowSvgHidden {
  transform: rotateZ(180deg);
  position: relative;
  opacity: 0;
  transition: opacity 1s ease;
}

.arrowPath {
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  animation: arrow 1.5s forwards infinite ease-in-out;
}

.arrowPath2 {
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
