$mobile: 300px;
$tablet: 600px;
@import url('http://fonts.cdnfonts.com/css/road-rage');

.fontTitleMaximized {
  @media (max-width: $tablet) {
    font-size: 20px;
  }
  text-align: center;
  opacity: 0.8;
  color: #fa0471;
  font-size: 24px;
  padding-top: 5px;
  font-family: 'Road Rage';
}

.fontMaximized {
  @media (max-width: $tablet) {
    font-size: 12px;
    padding: 5px 4px;
  }
  text-align: center;
  opacity: 0.8;
  color: #fff;
  font-size: 14px;
  margin: auto;
  padding: 5px 10px;
  font-family: 'Road Rage';
}

.gifImageContainer {
  @media (max-width: $mobile) {
    font-size: 14px;
    padding: 0px 4px;
  }
  text-align: center;
  opacity: 0.8;
  color: #ddd;
  font-size: 20px;
  margin: auto;
  padding: 0px 10px;
}

.gifImage {
  max-width: 100%;
}

.infoItem {
  display: flex;
  flex-direction: column;
  color: #ddd;
  height: max-content;
  margin: auto;
}

.longPanelContainer {
  opacity: 1;
  position: absolute;
  transform: scale(1);
  transform-origin: right top;
  top: 0px;
  right: 0px;
  transition: filter 0.4s ease;
  filter: brightness(0.7);
  &:hover {
    filter: brightness(1);
    cursor: pointer;
  }
}

.longPanel {
  transform-origin: right;
  transform: translateX(0);
  transition: transform 0.5s linear;
  transition-delay: 0.5s;
}

.longPanelOpen {
  @extend .longPanel;
  transform: translateX(200px);
  transition: transform 0.5s linear;
  transition-delay: 0.1s;
}

.longPanelOuterContainer {
  width: 33px;
  height: 100%;
  background: #070707;
}

.cell {
  height: 100%;
  filter: brightness(100%) drop-shadow(0.5px 0.25px 1px #070707);
  border-radius: 5px;
  &:hover {
    filter: brightness(90%) drop-shadow(1px 0.5px 2px #070707);
    transition: filter 0.3s ease;
    cursor: pointer;
  }
  transition:
    filter 0.3s ease,
    background 1s ease,
    border-radius 0.5s ease;
}

.cellMaximized {
  @extend .cell;
  display: flex;
}

.menu {
  top: 0;
  position: absolute;
  right: -330px;
  width: 330px;
  height: max-content;
  overflow: hidden;
  transition: right 0.8s ease;
  z-index: 1;
  cursor: default;
  border-radius: 10px 0 0 10px;
  border: 2px solid #9c823a;
  display: flex;
  flex-direction: row;
  border-right: 0;
  background: linear-gradient(135deg, #070707, #333);
}

.menuOpen {
  @extend .menu;
  right: 0;
  transition: right 0.8s ease;
  transition-delay: 0.9s;
  max-width: 100vw;
  z-index: 3;
}

.container {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: linear-gradient(135deg, #070707, #666);
  overflow: hidden;
  flex-direction: row;
}

.menuImageOne {
  width: 200px;
  height: 100px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  transform-origin: top left;
  transform: translate(70px, 0) skew(-35deg);
}

.menuImageOne::before {
  content: '';
  background-position: -40px -20px;
  background-size: 300px 150px;
  transform-origin: top left;
  transform: translate(-70px, 0) skew(35deg);
  background-image: url('https://res.cloudinary.com/drixmykpt/image/upload/v1660567363/hype/images/wddq8cet6okpclk0b1jx.jpg');
  position: absolute;
  width: 300px;
  height: 150px;
}

.menuImageTwo {
  width: 200px;
  height: 100px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  transform-origin: top left;
  transform: translate(70px, 0) skew(-35deg);
}

.menuImageTwo::before {
  content: '';
  background-position: -40px -20px;
  background-size: 300px 150px;
  transform-origin: top left;
  transform: translate(-70px, 0) skew(35deg);
  background-image: url('https://res.cloudinary.com/drixmykpt/image/upload/v1660567363/hype/images/ac50sodqwhgtfaessekh.jpg');
  position: absolute;
  width: 300px;
  height: 150px;
}

.menuImageThree {
  width: 200px;
  height: 100px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  transform-origin: top left;
  transform: translate(70px, 0) skew(-35deg);
}

.menuImageThree::before {
  content: '';
  background-position: -40px -20px;
  background-size: 350px 150px;
  transform-origin: top left;
  transform: translate(-70px, 0) skew(35deg);
  background-image: url('https://res.cloudinary.com/drixmykpt/image/upload/v1660567363/hype/images/gmkf53auqqd2fjaydazp.jpg');
  position: absolute;
  width: 350px;
  height: 150px;
}

.grid {
  filter: drop-shadow(3px 0px 6px rgba(0, 0, 0, 0.5));
  width: 100%;
}

.font {
  opacity: 0.8;
  margin: auto;
  line-height: 13px;
  text-align: center;
  color: #ddd;
  font-family: 'Road Rage';
}
