@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

$abel: 'Abel', 'Agency FB';

@layer base {
  @font-face {
    font-family: 'roadrage';
    src: url('https://res.cloudinary.com/drixmykpt/raw/upload/v1724690605/hype/fonts/roadrage') format('woff');
  }

  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  body {
    background: #222; //#000;
    font-family: 'Road Rage', $abel;
  }

  .small-picker .react-colorful {
    width: 120px;
    height: 120px;
    margin: 30px;
  }

  .small-picker .react-colorful__hue {
    height: 20px;
  }

  .text {
    font-size: 6rem;
    font-family: 'roadrage', $abel, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
      sans-serif;
    margin: auto;
  }
}
